@inject IStringLocalizer<Resource> localizer
<div class="propertyDetails-wrapper">
    <div class="slider-for">
        @foreach (var url in propertyOffer?.propertyImagesUrls)
        {
            <div class="slide">
                <img src="@url" />
            </div>
        }
        <div class="slider-nav">
        </div>
    </div>

    <h3>
        @propertyOffer.Title
    </h3>
    <p>@localizer["Advertiser"]</p>
    <div class="userInfo-div">
        <img />
        <p>@propertyOffer.User.Name</p>
        <div class="contact-info">
            <span>@localizer["TelNumber"]: @propertyOffer.User.TelNumber</span>
            <span>@localizer["Email"]: @propertyOffer.User.Email</span>
        </div>
        <div class="buttons-div">
            <button>@localizer["SendMessage"]</button>
            <span>
                <button><img />@localizer["FollowOffer"]</button>
            </span>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public PropertyDetailsDTO? propertyOffer { get; set; }

}
