@using Frost.Shared.Models.Enums;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@inject IStringLocalizer<Resource> localizer
@inject IJSRuntime JS
@attribute [AllowAnonymous]
<div class="filters-wrapper">
    <div class="filters-div">
        <div class="main-filters-box">
            <EditForm Model="@propertyFilters">
                <div class="filter-elements-div">
                    <InputSelect @bind-Value="propertyFilters.propertyType">
                        @foreach (var pType in Enum.GetValues(typeof(PropertyTypeEnum)))
                        {
                            <option value="@pType">@localizer[pType.ToString()]</option>
                        }
                    </InputSelect>
                    <InputSelect class="filter-select" @bind-Value="propertyFilters.offerType">
                        @foreach (var tType in Enum.GetValues(typeof(OfferTypeEnum)))
                        {
                            <option value="@tType">@localizer[tType.ToString()]</option>
                        }
                    </InputSelect>
                    <LocationSearch userInput="@propertyFilters.cityName" isValid="isCityValid" OnUserInput="OnCitySearchInput" OnLocationChange="ChooseCity"></LocationSearch>
                    <button @onclick=@(()=>OnSearch.InvokeAsync()) type="button" id="search-form-button">@localizer["Search"]</button>
                </div>
                <div class="filter-elements-div">
                    <div class="input-div">
                        <InputNumber @bind-Value="propertyFilters.minPrice" placeholder="@localizer["MinPrice"]" />
                        <span>zł</span>
                    </div>
                    <div class="input-div">
                        <InputNumber @bind-Value="propertyFilters.maxPrice" placeholder="@localizer["MaxPrice"]" />
                        <span>zł</span>
                    </div>
                    <div class="input-div">
                        <InputNumber @bind-Value="propertyFilters.minSurface" placeholder="@localizer["MinSurface"]" />
                        <span>m²</span>
                    </div>
                    <div class="input-div">
                        <InputNumber @bind-Value="propertyFilters.maxSurface" placeholder="@localizer["MaxSurface"]" />
                        <span>m²</span>
                    </div>
                </div>
            </EditForm>

        </div>
        <div class="advanced-filters-button-div">
            <button class="advanced-filters-button @(areAdvancedFiltersVisible? "advanced-filters-button-unfolded":"")" @onclick="changeAFiltersVisibility">@localizer["AdvancedFilters"]</button>
        </div>
        <div class="advanced-filters-div">
            <AdvancedFilters deleteButtonVisible="deleteButtonVisible" propertyFilters="propertyFilters" areAdvancedFiltersVisible="areAdvancedFiltersVisible"></AdvancedFilters>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public PropertyFiltersDTO? propertyFilters { get; set; }
    [Parameter]
    public EventCallback OnSearch { get; set; }
    [Parameter]
    public bool deleteButtonVisible { get; set; }
    public bool isCityValid = true;
    public string cityUserInput { get; set; } = "";
    bool areAdvancedFiltersVisible = false;
    public void changeAFiltersVisibility() => areAdvancedFiltersVisible = !areAdvancedFiltersVisible;
    public void ChooseCity(Location predictedLocation)
    {
        propertyFilters.cityName = predictedLocation.cityName;
        propertyFilters.cityPlaceId = predictedLocation.cityPlaceId;
        cityUserInput = predictedLocation.cityName;
    }
    public void OnCitySearchInput(string userInput)
    {
        cityUserInput = userInput;
    }

}
