@inject IStringLocalizer<Resource> localizer
@using Microsoft.AspNetCore.Authorization
@inject IJSRuntime JS
@inject NavigationManager navManager
@layout MainLayout
@inherits LayoutComponentBase
<AuthorizeView>
    <Authorized>
        <CascadingValue Value="this">
            <div class="top-div">
                <div class="offers-div">
                    <h2>
                        @localizer["Offers"]
                    </h2>
                    <div class="menu-div">
                        <div class="proxy">
                            <NavLink class="NavLink" href="/account/offers/yourtemplates" ActiveClass="ActiveNavLink" Match="NavLinkMatch.All">
                                <span>
                                    @localizer["Templates"]
                                </span>
                            </NavLink>
                            <NavLink class="NavLink" href="/account/offers/youroffers" ActiveClass="ActiveNavLink" Match="NavLinkMatch.All">
                                @localizer["Created"]
                            </NavLink>
                            <NavLink class="NavLink" href="/account/offers/followedoffers" ActiveClass="ActiveNavLink" Match="NavLinkMatch.All">
                                @localizer["Followed"]
                            </NavLink>
                        </div>
                    </div>
                </div>
                <div class="messages-div">
                    <h2 style="cursor:pointer" @onclick="@(()=>navManager.NavigateTo("/account/messages"))">
                        @localizer["Messages"]
                    </h2>
                </div>
                <div id="settingsId" class="settings-div">
                    <h2>
                        @localizer["Settings"]
                    </h2>
                    <div class="menu-div">
                        <div class="proxy">
                            <NavLink class="NavLink" href="/account/settings/details" ActiveClass="ActiveNavLink" Match="NavLinkMatch.All">
                                @localizer["Account"]
                            </NavLink>
                            <NavLink class="NavLink" href="/account/settings/login" ActiveClass="ActiveNavLink" Match="NavLinkMatch.All">
                                @localizer["LoginDetails"]
                            </NavLink>
                            <NavLink class="NavLink" href="/account/settings/notifications" ActiveClass="ActiveNavLink" Match="NavLinkMatch.All">
                                @localizer["Notifications"]
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-div">
                <h4>
                    @localizer[header]
                </h4>
            </div>
            @Body
        </CascadingValue>
    </Authorized>
    <NotAuthorized>
        @{
            navManager.NavigateTo("/login");
        }
    </NotAuthorized>
</AuthorizeView>

@code {


    public string header { get; set; } = "null";
    public string templatesMatch { get; set; } = "/account/offers/yourtemplates";

    public void ChangeHeader(string newHeader)
    {
        header = newHeader;
        this.StateHasChanged();
    }
    
}
